@import "~../../styles.scss";

.input-div {
    align-self: flex-end;
    position: sticky;
    bottom: 0;
    background-color: black;
    width: 100%;
}

.forms {
    width: 100%;
    margin: 10px;
}

.full-width {
    width: 100%;
    color: mat-color($custom-accent);
  }

.input-container{
    margin: 7px;
    .message-input{
        min-width: 100%;
    }

    .username-input{
        min-width: 30%;
    }
}
