<div class="input-div">
    <mat-toolbar>Leave a comment 
        <button mat-button color="accent" (click)="clickedPost()">Post it</button>
    </mat-toolbar>

    <div class="input-container">
        <mat-form-field class="username-input">
            <input matInput [(ngModel)]="username" (keyup.enter)="clickedPost()" name="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="message-input">
            <input matInput [(ngModel)]="message" (keyup.enter)="clickedPost()" name="username" placeholder="Message">
        </mat-form-field>
    </div>
</div>