@import "~../../styles.scss";

.feed-toolbar {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 105%;
    font-size: 30px;

}
.card {
    margin: 1px;
    width: 96vw;
    background-color: mat-color($custom-accent)
}

.feed-div {
   
}
