<div>
  <p>Feed</p>

  <div>
    <mat-card class="card">
      <mat-card-subtitle>Peter</mat-card-subtitle>
      That's a pretty cool flat!
    </mat-card>
  </div>
  
  <div>
      <mat-card class="card">
        <mat-card-subtitle>Peter</mat-card-subtitle>
        That's a pretty cool flat!
      </mat-card>
    </div>
    
  <div>
      <mat-card class="card">
        <mat-card-subtitle>Peter</mat-card-subtitle>
        That's a pretty cool flat!
      </mat-card>
    </div>
    
  <div>
      <mat-card class="card">
        <mat-card-subtitle>Peter</mat-card-subtitle>
        That's a pretty cool flat!
      </mat-card>
    </div>
  
   
</div>